.container {
    margin-right: auto;
    margin-left: auto;
    padding: 40px 16px;

    //mobile
    @media screen and (min-width: 480px) {
        padding: 40px 16px;    
    }

        //tablet
    @media screen and (min-width: 768px) {
        padding: 20px 16px;    
    }

        //desktop
    @media screen and (min-width: 1200px) {
        padding: 20px 16px;
        }
}