.about {
    color: var(--primary-light);
}

.about__title {
    font-family: var(--sora);
    font-size: 28px;
    margin-bottom: 20px;
}

.about__desc {
    color: var(--accent-light);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}