.header__container {
    padding: 16px;
    display: flex;
    align-items: center;
}

.header__list {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header__btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--bg-light);
}

nav {
    display: flex;
}

.logo {
    color: var(--primary-light);
    font-family: var(--sora);
    font-size: 20px;

    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;

    
}