.header__container {
    padding: 16px;
    display: flex;
    align-items: center;
}

.header__list {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1999px) {
        margin-left: 80px;
        display: flex;
        gap: 16px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 32px;
        margin-left: 170px;
    }
}

.header__link {
    font-family: Sora;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-light);
    text-decoration: none;

    transition: var(--tr-color);
    
        &:hover,
        &:focus {
            color: var(--hover-light);
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 16px;
        }

        @media screen and (max-width: 768px) and (max-width: 1999px) {
            font-size: 18px;
        }
}

.download-btn__menu {
        display: flex;

        padding: 10px 20px;
        gap: 4px;
        align-items: center;

        border: 2px solid var(--bg-dark);
        border-radius: 4px;
        background-color: var(--bg-dark);

        color: var(--primary-dark);
        font-family: var(--sora);
        font-size: 14px;
        font-weight: 600;

        transition: var(--tr-all);

        &:hover,
        &:focus,
        &:hover svg,
        &:focus svg {
        background-color: var(--hover-light);
        border-color: var(--hover-dark);
}
}

.download-btn__desktop {
    display: none;

        @media screen and (min-width: 1200px) {
            position: absolute;
            right: 44px;
            display: flex;
        
            padding: 10px 20px;
            gap: 4px;
            align-items: center;
        
            border: 2px solid var(--bg-dark);
            border-radius: 4px;
            background-color: var(--bg-dark);
        
            color: var(--primary-dark);
            font-family: var(--sora);
            font-size: 14px;
            font-weight: 600;
        
            transition: var(--tr-all);
        
            &:hover,
            &:focus,
            &:hover svg,
            &:focus svg {
                background-color: var(--hover-light);
                border-color: var(--hover-dark);
            }
        }
}


.download-btn__tablet {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1999px) {
        position: absolute;
        right: 44px;

        padding: 8px;
        display: flex;
        fill: var(--bg-dark);
        border: 2px solid var(--bg-dark);
        border-radius: 4px;
        background-color: var(--bg-dark);

        color: var(--primary-dark);
        font-family: var(--sora);
        font-size: 14px;
        font-weight: 600;

        transition: var(--tr-all);

        &:hover,
        &:focus {
            background-color: var(--hover-light);
            border-color: var(--hover-light);
        }
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--primary-light);
    font-family: var(--sora);
    font-size: 16px;
    font-weight: 700;

    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: var(--tr-all);

    &:hover,
    &:focus {
        color: var(--hover-light);
        fill: var(--hover-light);
    }

        @media screen and (min-width: 1200px) {
            font-size: 24px;
        }
}