.intentions__highlight {
    font-family: var(--sora);
    font-size: 28px;
    font-style: normal;
    font-weight: 800;

    margin-bottom: 32px;
}

.intentions__motives {
    font-family: var(--sora);
    color: var(--grey-500);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 32px;
}

.intentions__li {
    margin-bottom: 12px;
}


.intentions__mail,
.intentions__tel {
    font-family: var(--sora);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

    color: var(--primary-light);
    text-decoration: none;

    transition: var(--tr-color);

    &:hover,
    &:focus {
        color: var(--hover-light);
    }
}

.intentions {
    margin-top: 44px;
}