.skills__title {
    font-family: var(--sora);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 80px;
    }
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: 767px) and (max-width: 1999px) {

    }

    @media screen and (min-width: 1200px) {
        gap: 40px;
    }
}

.skills__link {
    min-width: 120px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;

    color: var(--primary-light);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    border: 2px solid var(--primary-light);
    border-radius: 4px;

    transition: var(--tr-all);

    @media screen and (min-width: 1200px) {
        gap: 32px;
        min-width: 186px;
        min-height: 186px;
    }

    &:hover,
    &:focus {
        fill: var(--bg-light);
        background-color: var(--primary-light);
        color: var(--bg-light);
    }

}